<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">

    <title>GatorCom - Help</title>
</head>

<body>

    <div id='navbar'>
        <a href='/'>
            <h1 id='Logo'>GatorCom</h1>
        </a>
        <a href='/about'>
            <h3>About</h3>
        </a>
        <a href='/help'>
            <h3>Help</h3>
        </a>
    </div>

    <div class='container-2'>
        <h2>Help</h2>
        <p>
            A map is located at the top of the page to reference.  The map can be 
            zoomed in and out using the buttons in the top left, or you may click on 
            it to toggle the ability to zoom using the scroll wheel.  UF's official map 
            overlay can be toggled using the controls in the top right of the map.
            <br>
            <br>
            There is a section for an English User, and a section for a Chinese User.  Both 
            sections are in their respective language.  After providing input, click the blue translate 
            button to the right and the translate text will appear in the other box.  The other user may 
            then provide a thumbs up or a thumbs down to communicate whether they understood.
        </p>
    </div>

    <div class='container-2'>
        <h2>帮助</h2>
        <p>
            地图位于页面顶部以供参考。您可以使用左上角的按钮来放大和缩小地图，
            也可以单击它来切换使用滚轮缩放的功能。 UF的官方地图叠加层可以使用地图右
            上方的控件进行切换。
            <br>
            <br>
            有一个针对英语用户的部分，以及一个针对中国用户的部分。两个部分均使用各自的语言。
            提供输入后，单击右侧的蓝色翻译按钮，翻译文本将出现在另一个框中。然后，另一个用户
            可以竖起大拇指或竖起大拇指来传达他们是否理解。
        </p>
    </div>
    
</body>
</html>